# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
logs/kvasir/train/Checkpoints
logs/kvasir/train/Checkpoints_90%/
logs/kvasir/test/outputs
logs/kvasir/test/outputs_90%

# Ignore logs, temp files, and checkpoints
checkpoints/

# Ignore configuration files 
configs/

# Ignore large datasets 
data/

# Ignore model-related large files 
model/pretrained_unet.py
model/__pycache__
model/.ipynb_checkpoints

